//- mixin listItem(title = "This is default title", caption)
//-      li.list-item 
//-           h2.list-title= title 
//-           if caption 
//-                span.list-caption= caption
//-           if block 
//-                block 


//-: Nếu k có if block thẻ p bên trong sẽ không hiện

mixin menuLink(title, href = "#")
     li.header-menu-item 
          a.header-menu-link(href= href)= title

mixin headerBottomItem(number, title)
     .header-bottom-item 
          span.header-bottom-number= number
          span.header-bottom-text= title 

mixin blockBox(caption, title, desc)
     .block-box
          h3.block-box-caption= caption 
          h2.block-box-heading= title 
          if desc 
               p.block-box-desc= desc
          
//- data  = {src: "", alt: "", icon: "", title: ""}
mixin aboutItem(data)
     .about-item 
          img.about-image(src= src, alt="image")
          .about-content 
               i.about-icon(class= iconClass)
               span.about-title= title 
               
mixin serviceItem(src, title, desc)
     .service-item 
          i(class= "fa fa-=src").service-item-icon 
          .service-item-info 
               h3.service-item-title= title
               p.service-item-desc= desc

mixin wedoItem(title, desc, active = "")
     .wedo-item(class= active)
          .wedo-item-header 
               i.fa.fa-cog.wedo-item-icon
               h3.wedo-item-title= title
               i.fa.fa-angle-down.wedo-item-arrow 
          .wedo-item-content 
               .wedo-item-text= desc

mixin teamSocial(facebook = "#", twitter = "#", pinterest = "#", instagram = "#")
     ul.team-social 
          li.team-social-item 
               a.team-social-link(href= facebook)
                    i.fab.fa-facebook-f 
          li.team-social-item 
               a.team-social-link(href= twitter)
                    i.fab.fa-twitter
          li.team-social-item 
               a.team-social-link(href= pinterest)
                    i.fab.fa-pinterest
          li.team-social-item 
               a.team-social-link(href= instagram)
                    i.fab.fa-instagram
mixin teamItem(src = "https://i.pinimg.com/564x/fe/aa/e0/feaae05ce42c84b2b3e2842295b6a3c8.jpg", name = "Christopher John", position = "Front-end Dev")
     .team-item     
          .team-main 
               img(src= src, alt="").team-image
               .team-content 
                    if block 
                         block 
          .team-info 
               h3.team-name= name
               span.team-position= position
//- Nếu có teamSocial thì hiển thị teamSocial  (if block) block

mixin workItem(src = "https://i.pinimg.com/564x/73/e5/a4/73e5a4b5ad6ff7875573dc464e5a73e1.jpg", icon = "fa fa-home", title = "NTienDat",  full = "", desc = "Lorem, ipsum dolor sit amet consectetur adipisicing elit.")
     .work-item(class= full)
          img.work-image(src= src, alt="image")
          .work-content 
               i.work-icon(class= icon)
               h3.work-title= title
               span.work-desc.text.text--light= desc

mixin peopleItem(src = "https://i.pinimg.com/564x/00/87/58/008758cb2fa77e327f1c28f421bc8812.jpg", name = "NTienDat", job = "FrontEnd Developer", desc = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore libero deserunt impedit minus, cumque molestias eaque optio laboriosam hic ut tempore accusamus incidunt explicabo velit, vitae exercitationem officiis molestiae rerum.")
     li.people-item 
          img.people-avatar(src= src, alt="")
          .people-info 
               h3.people-name= name
               span.people-job.text.text--light= job
               p.people-desc.text= desc 

mixin storyItem(src = "https://media.istockphoto.com/id/1404059355/fr/photo/plate-forme-p%C3%A9troli%C3%A8re-par-sunset.jpg?b=1&s=170667a&w=0&k=20&c=N2Tl1vafMzc3grYdk0UMcQf15-4_c5JXuN1Cw7hElnE=", dateNumber = "15", dateMonth = "Jan", title = "Lorem ipsum dolor sit, amet consectetur adipisicing elit.", desc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus consectetur laudantium perferendis illo sapiente corrupti voluptatibus quos impedit, hic cum, repudiandae explicabo, id voluptatum veniam vero earum asperiores quod molestiae.", eye = "542", comment = "17")
     li.story-item 
          .story-media 
               img.story-image(src= src, alt="")
               .story-date 
                    span.story-date-number= dateNumber
                    span.story-date-text.text.text--light= dateMonth
          h3.story-title= title
          .story-desc.text 
               p.story-desc-inner= desc
          .story-meta 
               .story-meta-item 
                    i.fa.fa-eye.story-meta-icon 
                    span.story-meta-number= eye
               .story-meta-item 
                    i.fa.fa-comment.story-meta-icon 
                    span.story-meta-number= comment

mixin quoteItem(src = "https://i.pinimg.com/564x/43/de/e9/43dee925becd07efb5ed9fc20483c3f2.jpg", type= false, desc = "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat iure possimus qui quaerat labore assumenda delectus iusto soluta nihil reiciendis repudiandae nisi aperiam nesciunt esse, est fuga at commodi optio?", author = "NTienDat")
     .quote-item
          if type == false
               .quote-icon 
                    img(src= src, alt="icon")
          else
               img(src= src, alt="avatar").quote-image
          .quote-info 
               p.quote-desc= desc
               span.quote-author= author